:root {
  --media-post-padding: 10px;
}

#sideMenu {
  max-width: 200px;
}
#sideMenu .iconButton {
  margin-bottom: 10px;
}
#sideMenu .main-logo img {
  width: 100%;
}
@media (max-width: 500px) {
  #sideMenu {
    display: none;
  }
}

#feedContainer > div {
  width: calc(100% - var(--media-post-padding));
}
@media (min-width: 600px) {
  #feedContainer > div {
    width: calc(50% - var(--media-post-padding));
  }
}
@media (min-width: 800px) {
  #feedContainer > div {
    width: calc(33.33% - var(--media-post-padding));
  }
}
@media (min-width: 1000px) {
  #feedContainer > div {
    width: calc(25% - var(--media-post-padding));
  }
}
@media (min-width: 1200px) {
  #feedContainer > div {
    width: calc(20% - var(--media-post-padding));
  }
}

#post-form .only-edit-mode, #mobile-form .only-edit-mode {
  display: none;
}
#post-form.edit-mode .only-edit-mode, #mobile-form.edit-mode .only-edit-mode {
  display: inline-block;
}
#post-form.edit-mode .only-post-mode, #mobile-form.edit-mode .only-post-mode {
  display: none;
}
#post-form .buttons .button-container, #mobile-form .buttons .button-container {
  padding: 5px;
}

#sideMenu li {
  margin-bottom: 5px;
}

#top-section, #bottom-menu {
  background-color: white;
  width: 100vw;
  z-index: 100;
}
#top-section ul, #bottom-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
}
#top-section ul li, #bottom-menu ul li {
  list-style: none;
  margin: auto auto;
}
#top-section ul span, #bottom-menu ul span {
  display: none;
}

#top-section {
  position: fixed;
  top: 0;
  left: 0;
}
#top-section ul {
  margin-top: 0;
  margin-bottom: 0;
}
#top-section ul .main-logo img {
  max-width: 100%;
  padding: 0;
}

#bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
}

#mobile-form {
  height: 100vh;
  background-color: white;
  padding: 20px;
}
#mobile-form.form-hidden {
  display: none;
}

@media (max-width: 500px) {
  main {
    padding-top: 60px;
  }
}

#filter-menu {
  padding-top: 20px;
  background-color: white;
}