.full-width {
  width: 100%;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.flex-column, .group-flex-column > div {
  display: flex;
  flex-direction: column;
}

.flex-row, .group-flex-row > div {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse, .group-flex-row-reverse > div {
  display: flex;
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.noMargin-group > * {
  margin: 0;
}

.flex-column.align {
  align-items: center;
  justify-content: center;
}

.flex-column.align-top {
  align-items: center;
}

.flex-row.align,
.align-start {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.lazy-margin * {
  margin: 10px;
}

.shift-right {
  position: absolute;
  right: 0;
}

.grid-row-50 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.grid1 {
  grid-area: grid1;
}

.grid2 {
  grid-area: grid2;
}

.grid3 {
  grid-area: grid3;
}

.grid4 {
  grid-area: grid4;
}

.grid5 {
  grid-area: grid5;
}

.grid6 {
  grid-area: grid6;
}

.grid7 {
  grid-area: grid7;
}

.grid8 {
  grid-area: grid8;
}

.grid9 {
  grid-area: grid9;
}


.contain-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.d-none {
  display: none;
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (max-width: 500px) {
  .hide-mb {
    display: none !important;
  }
  .hide-pc {
    display: block;
  }
  .col-mb {
    flex: 1 0 0%;
  }
  .col-auto-mb {
    flex: 0 0 auto;
    width: auto;
  }
  .col-1-mb {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-2-mb {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-3-mb {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-4-mb {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-5-mb {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-6-mb {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-7-mb {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-8-mb {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-9-mb {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-10-mb {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-11-mb {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-12-mb {
    flex: 0 0 auto;
    width: 100%;
  }
  .full-width {
    width: 100%;
  }
  .flex-column-mb, .group-flex-column-mb > div {
    display: flex;
    flex-direction: column;
  }
  .flex-row-mb, .group-flex-row-mb > div {
    display: flex;
    flex-direction: row;
  }
  .flex-row-reverse-mb, .group-flex-row-reverse-mb > div {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 500px) {
  .hide-mb {
    display: block;
  }
  .hide-pc {
    display: none !important;
  }
  .col-pc {
    flex: 1 0 0%;
  }
  .col-auto-pc {
    flex: 0 0 auto;
    width: auto;
  }
  .col-1-pc {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-2-pc {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-3-pc {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-4-pc {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-5-pc {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-6-pc {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-7-pc {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-8-pc {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-9-pc {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-10-pc {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-11-pc {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-12-pc {
    flex: 0 0 auto;
    width: 100%;
  }
  .full-width {
    width: 100%;
  }
  .flex-column-pc, .group-flex-column-pc > div {
    display: flex;
    flex-direction: column;
  }
  .flex-row-pc, .group-flex-row-pc > div {
    display: flex;
    flex-direction: row;
  }
  .flex-row-reverse-pc, .group-flex-row-reverse-pc > div {
    display: flex;
    flex-direction: row-reverse;
  }
}