#all-profiles-container .profile-image-container {
  margin: 10px;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
#all-profiles-container .profile-image-container img {
  height: 100%;
}

#profile-page {
  padding: 20px;
}
#profile-page #banner-container {
  position: relative;
  height: 200px;
  margin-bottom: 20px;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
#profile-page #banner-container .edit-button {
  position: absolute;
  right: 0;
  top: 0;
}
#profile-page #banner-container img {
  width: 100%;
}
#profile-page .left-side {
  position: relative;
}
#profile-page .left-side #image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 50%;
}
#profile-page .left-side #image-container img {
  max-width: 100%;
}
#profile-page .left-side .edit-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal #change-image-form {
  border-radius: 10px;
  width: 300px;
  height: 200px;
  background-color: white;
  padding: 10px;
}