:root {
  --background-color: #007bff;
  --button-color: #007bff;
  --button-color-hover: #0056b3;
}

.icon-button {
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: var(--background-color); /* Blue background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Media post container */
.media-post-container {
  padding: 5px;
  width: 100%;
}
.media-post-container.hide {
  display: none;
}
.media-post-container .media-post {
  height: 414px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 5px;
}
.media-post-container .media-post .text-box {
  font-size: 1rem;
  height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
}
.media-post-container .media-post .text-box .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.media-post-container .media-post .blur {
  background: linear-gradient(to top, white 0%, transparent 100%);
  height: 60px;
  width: 100%;
  margin-top: -60px;
}
.media-post-container .media-post .image-container {
  position: relative;
  overflow: hidden;
  height: 160px;
  width: 100%;
}
.media-post-container .media-post .image-container img {
  max-width: 100%;
  height: auto;
}
.media-post-container .media-post .image-container .edit-button {
  position: absolute;
  right: 0;
  top: 0;
}
.media-post-container .media-post .tags-container {
  display: flex;
}
.media-post-container .media-post .tags-container li {
  background-color: var(--background-color);
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #0056b3;
}

/* ===== Modal ===== */
#modal .modal-back-ground {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: grey;
  opacity: 0.5;
  z-index: 3;
}
#modal .modal-display {
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto; /* Maintain aspect ratio */
}
#modal .modal-display .media-post-container {
  padding: 0;
}
#modal .modal-display .media-post-container .media-post {
  height: auto;
  font-size: 2rem;
  background-color: white;
  width: 300px;
  border-radius: 20px;
}
#modal .modal-display .media-post-container .media-post .text-box {
  height: auto;
  overflow: visible;
}
#modal .modal-display .media-post-container .media-post .blur {
  display: none;
}
#modal .modal-display .media-post-container .media-post .image-container {
  overflow: visible;
  height: auto;
}
@media only screen and (max-width: 600px) {
  #modal .modal-display .media-post-container {
    width: 80vw;
  }
}
#modal.hide-modal {
  display: none;
}