// Input group container
#tags-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
    // Input field
    #tagInput {
    flex: 1;
    padding: 8px;
    margin-bottom: 0;
    border: 1px solid #ced4da;
    border-radius: 5px 0 0 5px;
    }
    #add-tags {
      padding: 8px 15px;
      border-left: none;
      border-radius: 0 5px 5px 0;
        margin-left: 0px;
      cursor: pointer;
    }

}
// Clearable input field
.clearable {
  position: relative;
}

.clearable::after {
  content: "\2715"; // Unicode for "✕" (multiplication sign)
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
#post-form{
  .form-label{
    padding: 3px;
  }
  
}


/* Form input fields */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container textarea,
.form-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding is included in the width */
  margin-bottom: 4px;
}

/* Form submit button */
.form-container button{
//   width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: white;
  cursor: pointer;
  margin: 5px;
}
//.form-container button[type="submit"]:hover {
.form-container button:hover {
  background-color: var(--button-color-hover);
}
.form-container button:active{
  background-color: var(--button-color-active);
}
.form-container button:disabled  {
  background-color: var(--button-color-disabled);
  cursor:default;
}

.tags-list,.tags-container{
    display: flex;
    flex-wrap: wrap;
    li{
        font-size: 12px;
        padding: 5px 10px;
        margin-right: 5px;
        border-radius: 5px;
        margin: 2px;
        color: white;
        font-weight: bold;
        background-color:var(--button-color) ;
        min-width:25px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #0056b3;
    }
    li:hover{
      background-color: var(--button-color-hover);
    }
    li:active{
      background-color: var(--button-color-active);
    }
}
#textInput{
  resize: vertical; /* Allow vertical resizing only */
}