.form-container {
    .valid-feedback, .invalid-feedback {
        display: none;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 5px;
    }
    
    .form-part {
        &.is-valid {
            .valid-feedback {
                background-color: #28a745; /* Green */
                color: white;
                display: block;
            }
        }
        &.is-invalid {
            .invalid-feedback {
                background-color: #dc3545; /* Red */
                color: white;
                display: block;
            }
        }
    }
    
    #errorMessageText {
        background-color: #ffc107; /* Yellow */
        color: black;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 5px;
    }
}
